
ul {
  margin-left: 0;
  margin-right: 20px;
}

li {
  display: flex;
  background-color: #6D6D75;
  height: 100px;
  justify-content: space-around;
}

.picture-column {
  width: 33.33%;
}

.title-column {
  width: 33.33%;
  margin-right: 5px;
}

.price-column {
  width: 20%;
}

.buy-column {
  width: 13%;
}

/* .save-column {

} */

.title-column, .price-column, .buy-column {
    font-size: 18px;
}


@media screen and (min-width: 768px) {

  .head-text {
    font-size: 50px;
  }

  .main-text {
    font-size: 50px;
  }

  .logos {
    height: 250px;
    width: 250px;
  }

  .search-results {
    margin-left:  10%;
    margin-right: 10%;
  }

  .search-form {
    padding-bottom: 15px;
  }

  .bottom {
    font-size: 40px;
  }

  #game-search{
    width: 500px;
  }

  .title-column, .price-column, .buy-column {
    font-size: 22px;
  }

  /* button {
    font-size: 18px;
  } */

}
