
ul {
  margin-left:  10%;
  margin-right: 10%;
}


li {
  display: flex;
  background-color: black;


}


@media screen and (min-width: 768px) {

  .head-text {
    font-size: 50px;
  }

  .main-text {
    font-size: 50px;
  }


  .logos {
  height: 250px;
  width: 250px;
}

  .search-form {
    padding-bottom: 15px;
  }

  .bottom {
    font-size: 40px;

  }

  #game-search{
    width: 500px;
  }

}
