
ul {
  margin-left:  10%;
  margin-right: 10%;
}


li {
  display: flex;
  background-color: green;
  height: 120px;
  justify-content: space-around;


}

.picture-column {
  width: 33.33%;
}

.title-column {
  width: 33.33%;
}

.price-column {
  width: 33.33%;
}

@media screen and (min-width: 768px) {

  .head-text {
    font-size: 50px;
  }

  .main-text {
    font-size: 50px;
  }


  .logos {
  height: 250px;
  width: 250px;
}

  .search-form {
    padding-bottom: 15px;
  }

  .bottom {
    font-size: 40px;

  }

  #game-search{
    width: 500px;
  }

}
