body {
   background-color: #ABBECF;
   font-family: 'Roboto Condensed', sans-serif;
}

header {
  text-align: center;
  background-color: #284D86;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  font-size: 24px;
  text-align: center;
}

main > p {
  margin-bottom: 25px;
}

form {
  padding-top: 50px;
}

footer {
  display: flex;
  background-color: #284D86;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-evenly;
}

img {
  height: 175px;
  width: 175px;
  margin: 20px 20px;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.search-move {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#game-search {
  border: solid #284D86;
  border-radius: 3px;
  height: 40px;
}

.search-button {
  background-color: #ABBECF;
  border: solid #284D86;
  font-family: 'Roboto Condensed', sans-serif;
  height: 40px;
  padding-bottom: 3px;
  box-shadow: 2px 2px 0 #284D86;
}

.list-image {
  width: 120px;
  height: 45px;
}

.search-results > li {
  text-align: left;
}

.result-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-button {
  background-color: #5C7C84;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.save-button:hover {
  border: solid black;
  background-color: #7B9BA3;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-window > button {
  padding: 15px 40px;
  margin-top: 30px;
  font-size: 20px;
  margin-right: 20px;
}

.no-button {
  background-color: #da5552;
  box-shadow: 1px 1px 0 #da5552;
  border-color: #da5552;
}

.no-button:hover {
  border: solid black;
  background-color: #E68B89;;
}

.yes-button {
  background-color: #00CC5F;
  box-shadow: 1px 1px 0 #00CC5F;
  border-color: #00CC5F;
}

.yes-button:hover {
  border: solid black;
  background-color: #0AFF7C;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #da5552;
  border-radius: 3px;
  width: 15%;
  margin-top: 18px;
  margin-bottom: 18px;
}

.delete:hover {
  border: solid black;
  background-color: #E68B89;
}

.modal-window {
  padding: 50px 50px 50px 50px;
  border-radius: 6px;
  text-align: center;
  background-color:#B8BAC8;
}

.hidden {
  display: none;
}

.search-button, .save-button, .buy-column, .save-buy, .delete {
  cursor: pointer;
}

.save-buy {
  height: 64px;
  background-color: #00CC5F;
  border-radius: 3px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-buy:hover {
  border: solid black;
  background-color: #0AFF7C;
}

.buy-column {
  height: 64px;
  background-color: #2b9348;
  border-radius: 3px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-column:hover {
  border: solid black;
  background-color: #41C867;
}

.buy-column, .save-button {
  padding-left: 2px;
  padding-right: 2px;
}

.loading-spinner {
  border: 16px solid white ;
  border-top: 16px solid #284D86;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.back-buttons {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 10px;
}
