/* body {
  margin-top: 0px;
} */

header {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #284D86;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

main {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: #ABBECF;
  height: 100vh;
  margin-top: 0px;
}

main > p {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 100px;
}

form {
  padding-top: 50px;
}
